
{% extends 'admin/article/base.html.twig' %}

{% block title %} Articles {%  endblock title %}

{% block body  %}

    <body>
        <main>
            <h2>
                Modification de l'article :
            </h2>


            <div clas="container-fluid">
                {{ form_start(formView) }}

                <div class="row d-flex justify-content-center">
                    {{ form_label(formView.title) }}
                    {{ form_widget(formView.title) }}
                </div><br>

                <div class="row d-flex justify-content-center">
                    {{ form_label(formView.content) }}
                    {{ form_widget(formView.content) }}
                </div><br>

                <div class="row d-flex justify-content-center">
                    {{ form_label(formView.picture) }}
                    {{ form_widget(formView.picture) }}
                </div><br>

                <div class="row d-flex justify-content-center">
                    {{ form_label(formView.date) }}
                    {{ form_widget(formView.date) }}
                </div><br>

                <div class="row d-flex justify-content-center">
                    {{ form_label(formView.publish) }}
                    {{ form_widget(formView.publish) }}
                </div><br>

                <div class="row d-flex justify-content-center">
                    {{ form_label(formView.Valider) }}
                    {{ form_widget(formView.Valider) }}
                </div>

                {{ form_end(formView) }}
            </div>
        </main>

    </body>

{% endblock body %}